@keyframes marquee {
  0% { transform: translateX(100%) }
  100% { transform: translateX(-100%) }
}

.animate-marquee {
  display: inline-block;
  animation: marquee 30s linear infinite;
}

/* Pause animation on hover */
.animate-marquee:hover {
  animation-play-state: paused;
}